<h1>Possible Duplicates</h1>

<table class="table">
  <% @duplicates.each do |dupe| %>
    <tr>
      <td><%= dupe.first["email_address"] %></td>
      <td><%= dupe.second["email_address"] %></td>
    </tr>
  <% end %>
</table>